@charset "utf-8";

body{
    background-image: url("../imgs/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(30%);
    color: white;
}
