@charset "utf-8";

body{
    margin: 0;
    background-image: url("../imgs/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: brightness(30%);
}

#container-main{
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    width: 90%;
    height: 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: 'B612',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 35px;
}

h2{
    font-family: 'B612',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 117px;
    /* identical to box height */
    color: #FFFFFF;
    margin-top: 30px;
}

#main{
    width: 106%;
    height: 270px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.img-loki img{
    width: 180px;
    height: 250px;
}


.conteudo p{
    width: 722px;
    height: 96px;
    font-family: 'B612' , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    color: #FFFFFF;
    line-height: 27px;
}

#time{
   
    margin-top: 20px;
    font-family: B612;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 620px;
}

.star{
    height: 40px;
    width: 240px;
}

.relogio::before{
    content: "";
    background-image: url("../imgs/clock.png");
    background-repeat: no-repeat;
    margin-right: 11px;
    padding: 14px;
    padding-top: 0px;
}

.assistir{
    display: flex;
    height: 60px;
    width: 325px;
    justify-content: space-between;
    margin-top: 41.8px;
}

.botao1{
    width: 184px;
    height: 52px;
    background: #0072D2;
    border-radius: 3px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Open Sans' , sans-serif;
    line-height: 50px;
    text-decoration: none;
}

.botao2{
    width: 115px;
    height: 52px;
    background: #131318;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;
    color: #FFFFFF;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Open Sans' , sans-serif;
    line-height: 50px;
    text-decoration: none;
}

@media (max-width: 1030px){

    #container-main{
        height: 141vh;
    }

    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    #main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #main .img-loki{
        display: flex;
        justify-content: center;
        margin-top: -50px;
    }

    body{
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 730px){

    

    .conteudo{
        width: 100%;
    }

    .conteudo p{
        width: 90%;
    }

    #time{
        width: 90%;
        margin-top: 50px;
    }

    .assistir{
        margin-top: 50px;
    }
}


@media (max-width: 530px){

    .conteudo{
        width: 100%;
    }

    .conteudo p{
        width: 85%;
    }

    #time{
        width: 85%;
        margin-top: 80px;
        height: 150px;
        flex-direction: column;

    }

    .assistir{
        margin-top: 50px;

    }

}

@media (max-width: 420px){
    #time{
        margin-top: 120px;
    }

    .assistir{
        width: 100%;
        justify-content: space-between;
        height: 120px;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 420px){
    #time{
        margin-top: 120px;
    }

    #container-main{
        height: 170vh;
    }
}

@media (max-width: 360px){
    #container-main{
        height: 900px;
    }
}
